div
  .modal-body.flex-column.width-100
    .ptl.pll.prl
      span.type-h4.em-500.flex-start.pts(translate="SUBSCRIBE_TITLE")
      p.em-300.ptm(translate="SUBSCRIBE_BODY")
      // Begin MailChimp Signup Form
      form.validate(action='//blockchain.us14.list-manage.com/subscribe/post?u=d74ffe6e610e00dc5772900bd&id=e4429f2ed2',
                    method='post',
                    name='mcForm',
                    target='_blank')
        .form-group
          label(for='mce-EMAIL')
            | Email Address
          input.form-control(type='email', value='', name='EMAIL')
        .form-group
          label(for='mce-COUNTRY') Country 
          input.form-control(type='text', value='', name='COUNTRY')
        .form-group
          label(for='mce-STATE') State 
          input.form-control(type='text', value='', name='STATE')
        #mce-responses.clear
          #mce-error-response.response(style='display:none')
          #mce-success-response.response(style='display:none')
        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
        div(style='position: absolute; left: -5000px;', aria-hidden='true')
          input(type='text', name='b_d74ffe6e610e00dc5772900bd_e4429f2ed2', tabindex='-1', value='')
        .flex-end.border-top.pvl
          a.button.button-muted.mrm(translate="NO_THANKS" ng-click="$close();")
          button.button.button-primary(translate="SUBSCRIBE_BUTTON" type='submit', value='Subscribe', name='subscribe')
